{% extends 'base.html' %}

{% block title %}Development List{% endblock title %}

{% block content %}
<table class="table table-sm table-bordered table-striped table-hover">
    <div class="table-responsive">
        <thead>
          <td style ="word-break:break-all;">Title</td>
          <td style ="word-break:break-all;">Description</td>
          <td style ="word-break:break-all;">Status</td>
          <td style ="word-break:break-all;">Response</td>
          <td style ="word-break:break-all;">Ingested</td>
          <td style ="word-break:break-all;">Requestor</td>
          <td>Details</td>    
        </thead>
        <tbody>
          {% for post in object_list %}
          <tr class="row_{{post.id}}">
            <td>{{post.title}}</td>
            <td>{{post.description}}</td>
            <td>{{post.status}}</td>
            <td>{{post.response}}</td>
            <td>{{post.etl_ingestion_time}}</td>
            <td>{{post.request}}</td>
            <td>                
              <a type="button" class="btn btn-outline-primary" href="{% url 'development_detail' post.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
</table>

<a type="button" class="btn btn-outline-success" href="{% url 'development_create' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
</a>
{% endblock content %}