{% extends 'base.html' %}
{% load static%}

{% block content %}
<script src="{% static 'insert/main.js' %}"></script>
<script src="{% static 'issue/main.js' %}"></script>
<br>
<h2>Ignored Issues</h2>
<div id="assign_alert" class="alert alert-info alert-dismissible fade" role="alert" aria-hidden="true">
  <span id="assign_alert_string"><strong>Issue Removed From Ignored List</strong></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="form-inline mt-2 mt-md-0" action="{% url 'ignore_issues' %}" method="get">
  <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Seach">
  <a type="button" class="btn btn-outline-danger" href="{% url 'ignore_issues' %}">Clear Search</a>
</form>
<br>
<table class="table table-sm table-bordered table-striped table-hover">
    <div class="table-responsive">
    <thead>
      <td style ="word-break:break-all;">dag_id</td>
      <td style ="word-break:break-all;">task_id</td>
      <td style ="word-break:break-all;">executed</td>
      <td style ="word-break:break-all;">ingested</td>
      <td style ="word-break:break-all;">reason</td>
      <td>Marked By</td>
      <td>Remove</td>

    </thead>
    <tbody>
      {% for post in object_list %}
      <tr class="row_{{post.issue_id}}">
        <td><button type="button" class="btn btn-link" id='primary_{{post.id}}' onclick="openDagId('{{post.dag_id}}', '{{post.run_id}}');">
          {{post.dag_id}}
        </button></td>
        <td>{{post.task_id}}</td>
        <td>{{post.dag_start_datetime}}</td>
        <td>{{post.etl_ingestion_time}}</td>
        <td>{{post.action}}</td>
        <td>{{post.username}}</td>
        <td>                
          <button type="button" class="btn btn-outline-danger" onclick="removeResponse('{{post.issue_id}}', '{{ csrf_token }}');">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
          </svg>
          </button>
        </td>
      </tr>
      {% endfor %}
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span> 
  </div>
{% endblock content %}
